<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poseType</key>
	<string>aPose</string>
	<key>head</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0.075</real>
		</dict>
	</dict>
	<key>neck</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>-0.21</real>
			<key>z</key>
			<real>-0.16</real>
		</dict>
	</dict>
	<key>leftShoulder</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>0.18</real>
			<key>y</key>
			<real>-0.24</real>
			<key>z</key>
			<real>-0.15</real>
		</dict>
	</dict>
	<key>rightShoulder</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>-0.18</real>
			<key>y</key>
			<real>-0.24</real>
			<key>z</key>
			<real>-0.15</real>
		</dict>
	</dict>
	<key>leftElbow</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>0.34</real>
			<key>y</key>
			<real>-0.5</real>
			<key>z</key>
			<real>-0.09</real>
		</dict>
	</dict>
	<key>rightElbow</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>-0.34</real>
			<key>y</key>
			<real>-0.5</real>
			<key>z</key>
			<real>-0.09</real>
		</dict>
	</dict>
	<key>leftHand</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>0.49</real>
			<key>y</key>
			<real>-0.71</real>
			<key>z</key>
			<real>-0.02</real>
		</dict>
	</dict>
	<key>rightHand</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>-0.49</real>
			<key>y</key>
			<real>-0.71</real>
			<key>z</key>
			<real>-0.02</real>
		</dict>
	</dict>
	<key>leftHip</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>0.125</real>
			<key>y</key>
			<real>-0.82</real>
			<key>z</key>
			<real>-0.12</real>
		</dict>
	</dict>
	<key>rightHip</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>-0.125</real>
			<key>y</key>
			<real>-0.82</real>
			<key>z</key>
			<real>-0.12</real>
		</dict>
	</dict>
	<key>leftKnee</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>0.125</real>
			<key>y</key>
			<real>-1.25</real>
			<key>z</key>
			<real>-0.09</real>
		</dict>
	</dict>
	<key>rightKnee</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>-0.125</real>
			<key>y</key>
			<real>-1.25</real>
			<key>z</key>
			<real>-0.09</real>
		</dict>
	</dict>
	<key>leftFoot</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>0.16</real>
			<key>y</key>
			<real>-1.7</real>
			<key>z</key>
			<real>-0.13</real>
		</dict>
	</dict>
	<key>rightFoot</key>
	<dict>
		<key>pose</key>
		<dict>
			<key>x</key>
			<real>-0.16</real>
			<key>y</key>
			<real>-1.7</real>
			<key>z</key>
			<real>-0.13</real>
		</dict>
	</dict>
</dict>
</plist>
